:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.subtitle {
  font-size: 1em;
  line-height: 1.1;
  color: #a0a0a0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 50vh;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-inline: auto;
  overflow: hidden;
}

.ws-status-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #242424;
  z-index: 10;
  padding-top: 1rem;
}

#ws-status {
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #a0a0a0;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.messages-container,
#ws-status {
  background-color: #464646;
}

#ws-status-indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

#ws-status-indicator.connecting {
  background-color: #ff8c00;
}

#ws-status-indicator.connected {
  background-color: #00ff00;
}

#ws-status-indicator.disconnected {
  background-color: #a7a7a7;
}

#ws-status-indicator.error {
  background-color: #ff0000;
}

#ws-status-content {
  flex-shrink: 0;
}

#ws-status-error {
  color: #ff0000;
}

#ws-status-button {
  margin-left: 1rem;
}

.message-latency {
  font-size: 0.75rem;
  color: #acacac;
  flex-shrink: 0;
}

.messages {
  width: 100%;
}

/* an effect that highlights the message when it arrives */
@keyframes highlight {
  0% {
    background-color: #acb0ff;
  }

  100% {
    background-color: #5c5c5c;
  }
}

.message {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
}

.message i {
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

.message.from-frontend {
  color: #000;
  background-color: #a1a1a1;
}

.message.from-backend {
  background-color: #5c5c5c;
  animation: highlight 0.5s ease-in-out;
}

.message.loading {
  color: #444444;
}

.message-before {
  min-width: 35%;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.outline {
  background-color: transparent;
  border-color: #646cff;
  color: #646cff;
}

select {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 0.8em;
  background-color: #464646;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 992px) {
  #app {
    padding: 2rem;
  }

  .messages-container {
    width: 50%;
    min-height: 40vh;
  }

  .ws-status-container {
    padding-top: 2rem;
  }

  #ws-status {
    width: 50%;
    padding-inline: 1.5rem;
  }

  .message {
    gap: 2rem;
    padding: 0.75rem 1.5rem;
  }

  .message-before {
    min-width: 20%;
  }
}